<div class="container-lg" id="sign-up">
<h2 class="sign-up-header">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  <div class="row-signup" >
    <div class="col-md-8">
        <%= f.input :teacher, as: :boolean %>
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>
        <%= f.input :biography,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "biography" }%>
        <%= f.input :photo, as: :file %>
        <%= f.input :address,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "address" }%>
        <%= f.input :telephone,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "telephone" }%>
        <%= f.input :facebook,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "facebook-link" }%>
        <%= f.input :instagram,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "instagram-username" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-outline-success" %>
  </div>
<% end %>

<p class="mt-4">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> | <%= link_to "Back", :back %></p>

</div>
