<% if current_user.teacher %>
  <div id="dashboard">
      <span class='welcome'> Welcome </span> <%= current_user.name.capitalize %>
    <div class="container">
      <div class="info-card">
        <div class='image'>
          <%= image_tag "https://res.cloudinary.com/dolfny7hf/image/upload/v1603828560/Screenshot_2020-10-27_at_20.55.41_j80wgs.png", class: "avatar-large", alt: "avatar-large" %>
        </div>
        <div class='info'>
          <p>Basic info:</p>
          <p>Email: <%= current_user.email%> </p>
          <p>Address: <%= current_user.address %></p>
          <p>Phone: <%= current_user.telephone%> </p>
          <p><%= link_to 'My Website', user_path(current_user) %></p>
          <p><strong>Instructor</strong></p>
        </div>
      </div>
      <div class="courses-card">
        <div class="header">
          <h3>Your Listed Courses:</h3>
        </div>

        <% @courses.each do  |course| %>
          <p><%= course.name %> - <%= link_to 'CREATE A NEW EVENT', new_course_occurence_path(course.id) %> |
            <%= link_to edit_course_path(course) do %><i class="far fa-edit"></i><% end %> |
            <%= link_to course_path(course), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %> <i class="far fa-trash-alt"></i> <% end %>
           <% end %>
        <p><%= link_to 'ALL', courses_path %> | <%= link_to 'ADD', new_course_path %></p>

        <div class="header">
          <h3>Your Upcoming Events:</h3>
        </div>

        <% @courses.each do  |course| %>
          <% course.occurences.each do |occurence| %>
          <p> <%= occurence.course.name %> - <%= occurence.date %> - <%= link_to course_occurence_path(course, occurence), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %>
              <i class="far fa-trash-alt"></i> <% end %>
          </p>
          <% end %>
        <% end %>
      </div>
      <div class="calendar">
        <h2>Calendar goes in here</h2>
        <img src='https://citynews-today.stgy.ovh/~media/horizontal-hi/61364967865900/calendario-scolastico-2018-2019-2.jpg' width=300>
      </div>
    </div>
  </div>

<!-- CLIENT'S DASHBOARD  -->
<% else %>

  <div id="dashboard">
    <div class ="container">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <span class='welcome'> Welcome </span> <%= current_user.name.capitalize %>,
          <%= image_tag "https://res.cloudinary.com/dolfny7hf/image/upload/v1603970239/Screenshot_2020-10-27_at_20.18.05_ddy7yv.png", class: "avatar-large center", alt: "avatar-large" %>
        <p class="card-text">
        <p>Basic info:</p>
        <p>Email: <%= current_user.email%> </p>
        <p>Address: <%= current_user.address %></p>
        <p>Phone: <%= current_user.telephone%> </p>
        </div>
      </div>
      <div class="courses-card">
      <h2>Your Upcoming Classes:</h2>
        <% current_user.bookings.each do |booking| %>
          <p><strong><%= booking.course.name %></strong> (<%= booking.occurence.date %>)
            <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %> <i class="far fa-trash-alt"></i> <% end %></p>
          <% end %>
        <h2><%= link_to 'Book More Classes', root_path, class: 'btn btn-outline-success' %></legend>
      </div>
      <div class="calendar">
        <h2>WEEK Calendar</h2>
        <p><img src='https://citynews-today.stgy.ovh/~media/horizontal-hi/61364967865900/calendario-scolastico-2018-2019-2.jpg' width=300></p>
      </div>
  </div>
<% end %>
