<div id="dashboard">
  <div class="d-flex mt-5 ml-5" style="max-width: 700px; ">
    <span class='welcome'> Welcome <%= @user.name.split(" ").first.capitalize %></span>
  </div>
<div class="d-flex">
<% if @user.teacher %>

    <div class="card-body">
      <h4>My style of course</h4>
      <ul>
        <% @user.courses.each do  |course| %>
        <li> <%= course.name %> - <%= link_to 'POST', new_course_occurence_path(course.id) %> |
            <%= link_to edit_course_path(course) do %><i class="far fa-edit"></i><% end %> |
            <%= link_to course_path(course), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %> <i class="far fa-trash-alt"></i> <% end %>
        </li>
        <% end %>
      </ul>

      <h2><%= link_to 'ADD', new_course_path, class: 'btn btn-outline-success' %></h2>

    </div>

    <div class="container week-calendar-2">
      <%= week_calendar number_of_weeks: 2 do |date| %>
        <h6><%= date.day %></h6>
        <% @user.courses.each do |course| %>
          <% course.occurences.each do |occurence| %>
            <% if occurence.date.to_datetime.to_date == date%>
              <div class="border border-dark p-2 mb-2 ">
                <%= occurence.course.name%> <%= link_to course_occurence_path(course, occurence), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %> <i class="far fa-trash-alt"></i> <% end %>
                <%= link_to "more info", course_path(occurence.course) %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

<!-- CLIENT'S DASHBOARD  -->
<% else %>

    <div class="card-body">
      <h4>My Info</h4>
      <ul>
        <i class="fas fa-envelope"></i><li>  <%= @user.email.upcase %> </li>
        <i class="fas fa-phone"></i><li>  <%= @user.address.upcase %> </li>
        <i class="fas fa-map-marker-alt"></i><li>  <%= @user.telephone.upcase %> </li>
      </ul>
      <h2><%= link_to 'Edit My Info', edit_user_registration_path, class: 'btn btn-outline-success' %></h2>
      <h2><%= link_to 'Book More Classes', root_path, class: 'btn btn-outline-success' %></h2>

    </div>

    <div class="container week-calendar-2">
      <%= week_calendar number_of_weeks: 2 do |date| %>
        <h6><%= date.day %></h6>
        <% @user.bookings.each do |booking| %>
            <% if booking.occurence.date.to_datetime.to_date == date%>
              <div>
                <%= booking.occurence.course.name.upcase %> - <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %> <i class="far fa-trash-alt"></i> <% end %>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>

<% end %>
</div>
</div>



