<div class="card-category card-category-teacher" style="background-image: linear-gradient(rgba(34, 112, 103,0.3), rgba(34, 112, 103,0.3)), url(https://source.unsplash.com/500x500/?yoga)">
  <div class="card-relative">
    <%= cl_image_tag @user.photo.key, class: "avatar-xlarge" %>
    <h2> <%= @user.name.upcase %> </h2>
    <ul>
      <li> <%= @user.email %> </li>
      <li> <%= @user.telephone %> </li>
      <li> <%= @user.address %> </li>
    </ul>
  </div>
  <%= image_tag "Bold.png", class: "logo-teacher-website"%>
</div>

<div class="card-info">
  <h5> About me: </h5>
  <p> I am a yoga teacher based in Bali, Indonesia, where the sun sets on her yoga classes.
        This is more information that can be modified by Friday with a limited text of 500 characters so we don't
        get bored with all that nonsense!</p>
</div>


























<!-- <div class="card-trip">
  <div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.2)), url(https://source.unsplash.com/500x500/?yoga);">
  <div class="space">
  </div>
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://res.cloudinary.com/dolfny7hf/image/upload/v1603828560/Screenshot_2020-10-27_at_20.55.41_j80wgs.png" class="card-trip-user avatar-bordered" alt="avatar-bordered">
  </div>
</div> -->





<!-- <div id="teacher-showpage">
  <div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.2)), url(https://source.unsplash.com/500x500/?yoga);">
    <div class="container">
      <div class="info">
      <%= image_tag "https://res.cloudinary.com/dolfny7hf/image/upload/v1603828560/Screenshot_2020-10-27_at_20.55.41_j80wgs.png", class: "avatar-bordered", alt: "avatar-bordered" %>
      <p><h3><%= @user.name %></h3></p>
     <p> <%= @user.name %> is a yoga teacher based in Bali, Indonesia, where the sun sets on her yoga classes.
      This is more information that can be modified by Friday with a limited text of 500 characters so we don't
      get bored with all that nonsense!</p>
      </div>
    </div>
  </div>
    <div class='class-offered'>
      <div class='courses'>
        <center>Check out her classes</center>
        <% @courses.each do |course| %>
          <p> <strong> Name: <%= course.name %></strong> </p>
          <p>Description: <%= course.description %></p>
          <p>Duration: <%= course.duration %> minutes</p>
          <% if user_signed_in? %>
            <% if !current_user.teacher %>
            <%= link_to 'book', new_course_booking_path(course) %>
          <% elsif course.user == current_user %>
            <%= link_to 'destroy', course_path(course), method: :delete, data: { confirm: "Are you sure you would like to delete?" } %>
           <% end %>
        <% else %>
        <% if !current_user.teacher %>
          <%= link_to 'sign in to book', new_user_session_path %>
        <% else %>
          <%= link_to 'sign in to edit', new_user_session_path %>
        <% end %>
      <% end %>
        <% end %>
      </div>
      <div class='calendar'>
        <h3> Calendar of Classes </h3>
        <img src='https://citynews-today.stgy.ovh/~media/horizontal-hi/61364967865900/calendario-scolastico-2018-2019-2.jpg' width=300>
      </div>
    </div>
  </div>
</div>


 -->
