<div class="container-lg">
    <%= image_tag "https://res.cloudinary.com/dolfny7hf/image/upload/v1603809296/Bold_est1tz.png", class: "img-fluid img-smaller" %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-md-4">
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
    </div>
  </div>


    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-outline-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
