
<div class="container-class" style="margin: 20px; border: 2px solid #018a79; text-align: center; height: auto;">
<div class="container-course-info">
<div class="course-img">
  <% if @course.photo.attached? %>
    <%= cl_image_tag @course.photo.key, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% else %>
    <img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823158/dane-wetton-t1NEMSm1rgI-unsplash_vyigoa.jpg" alt="course-image">
  <% end %>
<!-- <img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823158/dane-wetton-t1NEMSm1rgI-unsplash_vyigoa.jpg" alt="course-image">
 --></div>
<div class="course-info">
  <h2 class="cards-header" style="padding: 10px; color: #018a79; font-family: pacifico; "><%= @course.name %> </h2>
  <div class="card-show-info" label="description"> <%= @course.description %> </div>
  <div class="card-show-info" style="text-align: right; font-weight: bolder; font-size: 24px;"> € <%= @course.price %> </div>
  <p>More info about the instructor:</p>
  <p><%= link_to @course.user.name, user_path(@course.user.id), class: "btn btn-outline-success" %></p>
</div>
</div>
</div>

  <div class="occurence">
   <% @course.occurences.each do |occurence| %>

  <%= render "cardshow", locals: {occurence: occurence} %>

  <% end %>

  </div>

