
<div class="container-class" style="margin: 20px; border: 2px solid #018a79; text-align: center; height: auto;">
<div class="container-course-info">
<div class="course-img">
<img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823158/dane-wetton-t1NEMSm1rgI-unsplash_vyigoa.jpg" alt="course-image">
</div>
<div class="course-info">
  <h2 class="cards-header" style="padding: 10px; color: #018a79; font-family: pacifico; "><%= @course.name %> </h2>
  <div class="card-show-info" label="description"> <%= @course.description %> </div>
  <div class="card-show-info"><%= @course.location %></div>
  <div class="card-show-info" style="text-align: right; font-weight: bolder; font-size: 24px;"> € <%= @course.price %> </div>
  <p>More info about the instructor:</p>
  <p><%= link_to @course.user.name, user_path(@course.user.id), class: "btn btn-outline-success" %></p>
</div>
</div>
<div class="occurence">
 <% @course.occurences.each do |occurence| %>

<%= render "cardshow", locals: {occurence: occurence} %>
<div class="link-courses">
<% end %>
<% if user_signed_in? %>
  <% if !current_user.teacher or current_user.nil? %>
    <%= link_to 'book', new_course_booking_path(@course), class: "btn btn-outline-success" %>
  <% elsif @course.user == current_user %>
    <%= link_to 'destroy', course_path(@course), method: :delete, data: { confirm: "Are you sure you would like to delete?" } %>
  <% end %>
<% else %>
  <%= link_to 'sign in to book', new_user_session_path %>
</div>
</div>
<% end %>
</div>
