<div class="container-class" style="margin: 20px; border: 2px solid #018a79; text-align: center; height: auto;">
  <h2 style="padding: 10px; color: #018a79;"><%= @course.name %> </h2>
  <p> <strong><%= @course.description %></strong> </p>

<ul>
<div class="occurence" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px; padding: 20px;">
 <% @course.occurences.each do |occurence| %>

<%= render "card", locals: {occurence: occurence} %>




<% end %>
</div>
<h3> <%= link_to "/users/#{@course.user.id}" do %><%= @course.user.name %></h3> <% end %>
<% if user_signed_in? %>
  <% if !current_user.teacher %>
    <%= link_to 'book', new_course_booking_path(@course) %>
  <% elsif @course.user == current_user %>
    <%= link_to 'destroy', course_path(@course), method: :delete, data: { confirm: "Are you sure you would like to delete?" } %>
  <% end %>
<% else %>
  <%= link_to 'sign in to book', new_user_session_path, class: "btn btn-outline-success" %>
</div>
<% end %>
