<h2><%= @course.name %> </h2>
<p> <%= @course.description %> </p>
</ul>
<h3> <%= link_to "/users/#{@course.user.id}" do %><%= @course.user.name %></h3> <% end %>
<% if user_signed_in? %>
  <% if !current_user.teacher %>
    <%= link_to 'book', new_course_booking_path(@course) %>
  <% elsif @course.user == current_user %>
    <%= link_to 'destroy', course_path(@course), method: :delete, data: { confirm: "Are you sure you would like to delete?" } %>
  <% end %>
<% else %>
  <%= link_to 'sign in to book', new_user_session_path %>
<% end %>

